html,
body {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    max-width: 1000px;
}

div.content {
    padding: 2em;
}

aside.photo {
    max-width: 360px;
    flex: 0 0 auto;
    margin: auto;
}

ul.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 1000px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }
    div.container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2em;
    }
    div.content {
        flex: 1 1 auto;
        padding: 0;
    }
    aside.photo {
        width: 360px;
        position: relative;
        left: 4em;
        top: -4em;
    }
}