figure.polaroid {
	margin: 16px;
	padding-top: 8px;
	text-align: center;
	background: white;
	background: linear-gradient(white, ##FCFCFC 20%, #f2ebde 60%);
	box-shadow: 6px 6px 12px -6px rgba(0, 0, 0, .75);
	transition: all 0.5s;
}

figure.polaroid.rotate-2 {
	transform: rotate(2deg);
}

figure.polaroid figcaption {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 0.11em;
	color: rgba(40, 66, 131, 0.9);
}

figure.polaroid:hover {
	transform: rotate(0);
	box-shadow: 12px 12px 24px -12px rgba(0, 0, 0, .75);
}